.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
  /*background-image: url("../img/cards/0-spades.png");*/
}

.covered {
  background-image: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}
